<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.ShoppingMall_TeamPrj.membership.mapper.MembershipMapper">

    <!-- 사용자 멤버십 정보 조회 -->
    <select id="getMembershipByUserId" parameterType="int" resultType="com.shop.ShoppingMall_TeamPrj.membership.vo.MembershipVO">
        SELECT user_id, membership_level, membership_points
        FROM membership
        WHERE user_id = #{userId}
    </select>

    <!-- 새로운 사용자 멤버십 정보 삽입 -->
    <insert id="insertMembership" parameterType="com.shop.ShoppingMall_TeamPrj.membership.vo.MembershipVO">
        INSERT INTO membership (user_id, membership_level, membership_points)
        VALUES (#{userId}, #{membershipLevel}, #{membershipPoints})
    </insert>

    <!-- 사용자 멤버십 정보 업데이트 -->
    <update id="updateMembership" parameterType="com.shop.ShoppingMall_TeamPrj.membership.vo.MembershipVO">
        UPDATE membership
        SET membership_level = #{membershipLevel},
            membership_points = #{membershipPoints}
        WHERE user_id = #{userId}
    </update>

</mapper>
